venv/
__pycache__/
*.pyc
.env
*.log
storage/*.sqlite
storage/*.sqlite-*


hotspot-login-page/
requirements-vps.txt

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Environment variables / secrets

config.py
instance/

# Flask
.flaskenv
venv

# Database files
*.sqlite
*.sqlite3
*.db

# Logs
*.log
logs/

# Uploads / user files
uploads/
static/uploads/

# IDE / editor files
.vscode/
.idea/

# Windows files
Thumbs.db
desktop.ini

# Mac files
.DS_Store

# MySQL dumps/backups
*.sql
*.dump
*.bak